@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,600;0,700;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 0.80rem;
   
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #111414;
    cursor: pointer;
}

.grid-of-3 {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    width: 100%;
    margin: 4rem auto;
}
.grid-item h3 {
    color: #efefef;
    font-size: 2.5rem;
}


.grid-of-2 {
  display: grid;
  grid-template-columns: 65% 35%;
  justify-content: center;
  width: 90%;
  height: 80%;
  margin: 10rem auto;
}

.logo {
    position: absolute;
    
    left: 8%;
  
    width: 90%;
    height: 40px;
    
    
    display: inline-block;
    margin-top: 10px;
    transition: 10s all;
}



a:hover {
    cursor: pointer;
}


.section-workflow {
    padding: 4rem 0rem;
}
.section-workflow_header {
    width: 90%;
    margin: 0 auto;
}
.section-workflow_header h3 {
    color: #efefef;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
}
.workflow {
  position: relative;
}
.workflow::before {
  content: '';
  background-color: rgba(239, 239, 239, 0.1);
  width: 0.2rem;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.workflow-fig {
  margin-bottom: 3rem;
  margin-left: 3rem;
}
.workflow-fig h3 {
  color: rgba(239, 239, 239, 0.1);
  font-size: 8rem;
  font-weight: 400;
}
.workflow-header {
  margin-left: 3rem;
  margin-bottom: 3rem;
}
.workflow-header h3 {
  font-size: 4rem;
}
.workflow-text {
  margin-left: 3rem;
}
.workflow-text p {
  color: #efefef;
  font-size: 2rem;
}


.marquee  {
    position: absolute;
    width: 100%;
    height: 100px;
  
}

.marquee {
    opacity: 0.6;
    line-height: 50px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 50px;
    font-family: "Oswald";
    text-shadow: 0 0 2px rgb(181, 180, 180), 0 0 2px rgb(145, 141, 141), 0 0 2px rgba(255, 255, 255, 0.081), 0 0 2px rgba(255, 255, 255, 0.53);
}


/* MEDIA QUERIES */
@media screen and (min-width: 1480px) {
  .main-header h1 {
    font-size: 20rem;
  }
}

@media screen and (max-width: 1124px) {
  html {
    font-size: 55%;
  }
  .main-header h1 {
    font-size: 11rem;
  }
  .u-res-margin {
    margin: -2rem auto;
  }
  .sub-header {
    top: 62%;
  }
  .nav-list a {
    font-size: 1.7rem;
  }
  .skill-box h3 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 834px) {
    .nav-list:not(:last-child) {
        margin-right: 0.7rem;
    }
    .grid-of-2 {
        grid-template-columns: repeat(1, 4fr);
        margin: 4rem auto;
    }
    .sub-box {
        align-self: unset;
    }
    .sub-header {
        width: 95%;
        top: 55%;
    }
    .sub-header p {
        color: #999;
    }
    .section-cta {
        margin-top: -27rem;
    }
    .cta-aside {
        display: none;
    }
    .project-link {
        margin: 4rem auto 0rem auto;
        width: 100%;
    }
    .social-media {
        justify-self: unset;
    }
    .social-media {
        grid-template-columns: repeat(2, 47%);
        text-align: unset;
    }
}

@media screen and (max-width: 500px) {
    .nav-grid {
        grid-template-columns: repeat(2, 48%);
    }
    .logo {
        display: none;
    }
    .nav-bar ul {
        text-align: unset;
    }
    .nav-bar ul li {
        display: block;
    }
    .nav-list:not(:last-child) {
        margin-right: 0rem;
        margin-bottom: 2rem;
    }
    .social ul {
        text-align: unset;
        display: none;
    }

    .main-header h1 {
        font-size: 9rem;
        font-weight: 400;
    }
    .section-cta {
        margin-top: -15rem;
    }
    .main-text {
        width: 100%;
    }
    .u-res-margin {
        margin: -10rem auto 4rem auto;
    }
    .grid-of-3 {
        grid-template-columns: repeat(1, 4fr);
        width: 90%;
    }
    .workflow {
        padding: 2rem 0rem;
    }
    .workflow::before {
        width: 100%;
        height: 0.2rem;
    }
    .workflow-fig,
    .workflow-header,
    .workflow-text {
        margin-left: 0rem;
    }
    .grid-of-6 {
        grid-template-columns: repeat(4, 1fr);
    }
 
}
